.notfound-page {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Texturina", serif;
}

.notfound-title {
  font-size: 2.2rem;
  color: #df4f4f;
  margin-bottom: 10px;
}

.notfound-text {
  font-size: 1rem;
  opacity: 0.8;
}