.footer {
  background-color:black;
  color: #eaeaea;
  padding: 40px 20px 20px;
 
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
}