.navbar {
  position: absolute;
  top: 0;
  width: 95%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  padding-bottom: 5px;
  transition: 0.3s;
}

/* Elegant underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f2da7c;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.burger span {
  width: 28px;
  height: 3px;
  background: #f2da7c;
  border-radius: 2px;
  transition: 0.3s;
}

/*  Mobile */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 90px;
    right: 20px;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
    border-radius: 16px;
    padding: 20px 30px;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .nav-links a {
    font-size: 1.1rem;
  }
}